<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lyh.onlineShop.cartAndOrder.mapper.OrderDetailMapper">

    <insert id="batchAddOrderDetail">
        insert into online_shop_order_detail(order_num, product_id, product_name, product_image, unit_price, quantity, total_price) values
        <foreach collection="orderDetailList" item="orderDetail" separator=",">
            (#{orderDetail.orderNum}, #{orderDetail.productId}, #{orderDetail.productName}, #{orderDetail.productImage}, #{orderDetail.unitPrice}, #{orderDetail.quantity}, #{orderDetail.totalPrice})
        </foreach>

    </insert>

    <select id="selectByOrderNum" resultType="com.lyh.onlineShop.cartAndOrder.vo.OrderDetailVo">
        select * from online_shop_order_detail where order_num = #{orderNum}
    </select>
</mapper>